<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>회원 가입</title>
  </head>
  <body>
    <form name="write_form_member" method="post">
      <table width="940" style="padding: 5px 0 5px 0;">
        <tr height="2" bgcolor="#FFC8C3">
          <td colspan="2"></td>
        </tr>
        <tr>
          <th>이름</th>
          <td><input type="text" name="student_name" /></td>
        </tr>
        <tr></tr>
        <tr>
          <th>아이디</th>
          <td>
            <input type="text" name="student_ID" />
          </td>
        </tr>
        <tr>
          <th>학번</th>
          <td>
            <input type="text" name="student_num" />
          </td>
        </tr>

        <tr>
          <th>비밀번호</th>
          <td><input type="password" name="student_pass" /></td>
        </tr>
        <td colspan="2" align="center">
          <input type="submit" value="회원가입" />
          <input type="reset" value="취소" />
        </td>
      </table>
    </form>
  </body>
</html>
